.container {
    max-width: 900px;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
  background: linear-gradient(-45deg, #f5aa93, #e2a9bf, #c1d8e0, #b6e0d7);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
  
  /*
   * Custom translucent site header
   */
  
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

picture img{
   width:20em;  
}

a img{
  width:1.2em;
}
  
.container div{
  flex: 1 1 300px;
  margin: 1px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.logo{
  width:3em;
}

h1{
  font-size: clamp(1.75em, 1em + 3vw, 2.5em);
  text-align: center;
  font-family: inherit;
  color: rgb(77, 77, 77);
}

p{
  font-size: clamp(1em, 1em + 1vw, 1.5em);
  text-align: justify;
  font-family: inherit;
  color: rgb(77, 77, 77);
}

.btn{
  width: 150px;
  height: 50px;
  font-size: clamp(0.7em, 0.7em + 1vw, 0.8em);  
}

@media (min-width : 414px){
  .btn{
    width: 180px;
    font-size: clamp(0.8em, 0.8em + 1vw, 1em);
  }  
}

@media (min-width : 550px) {
  .btn{
    width: 230px;
    font-size: clamp(0.8em, 0.8em + 1vw, 1.2em);
  }

  .container div{
    flex: 1 1 500px;
    margin: 1px;
  }

  picture img{
    width:30em;   
 }
}

@media (min-width : 1001px) {
  .btn{
    width: 240px;
    font-size: clamp(0.8em, 0.8em + 1vw, 1.2em);
  }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  